@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}

header{

    background-color: #f0f0f0;
    width : 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    
}

.logo{
    text-decoration: none;
    color: blue;
    text-align: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    
}

.navigation a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}

.navigation a:hover{

    color: blue;
}

section{
    padding: 100px;
}

.main{
    width: 100;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/bannerbyDesignersSupport.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2 {
    color:blue;
    font-size: 1,4em;
    font-weight: 500;
    
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #f0f0f0;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color:blue;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color:#f0f0f0;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);

}

.title {
    display: flex;
    justify-content: center;
    color:blue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;


}

.content { 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #f0f0f0 ;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover  {
    transform: scale(1.1);
    
}

.icon{
    color: #0a49f6;
    font-size: 8em;
    text-align: center;
}

.info h3{
    text-align: center;
}

.info h3{
    color:#0a49f6;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

#inquiry {
    text-align: center;
    font-size: 38px;
    color: brown;
    font-weight:600 ;
    letter-spacing: 1px;

}

#inquiry {
    padding: 4rem 0;
}

#inquiry {
    margin-top: 4rem; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    background: #f0f0f0;
    box-shadow: 3px 3px 20px rgba(0 , 0 , 0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
}

#inquiry .row input  , #inquiry .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #bbb;
    outline: none;
}

.btn-priamry{
    background-color: blue;
    justify-content: center;
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;

    }

    .title {
        font-size:1.8em;

    }
    section{
        padding: 90px 20px;
    }

    main.content h2{
        font-size:1em;
    }

     main.content h2{
        font-size:1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}